<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>SUKI 2022: {{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this page -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">SUKI 2022</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% assign sorted_pages = site.pages | sort:"order" | where:"collection","pages_2022" %}
                    {% for p in sorted_pages %}
                    {% if p.title == page.title %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif%}
                        <a class="nav-link" href="{{p.url}}">{{p.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="blog-header">
    <div class="container text-center">
        <h1 class="blog-title">SUKI: Workshop on Structured and Unstructured Knowledge Integration</h1>
        <p class="lead blog-description">
            Workshop at NAACL 2022, July 14, 2022<br/> 
            <!-- Contact: <a href="mailto:intex-sempar@@googlegroups.com">intex-sempar@googlegroups.com</a><br/> -->
            Submit your paper <a href="https://openreview.net/group?id=aclweb.org/NAACL/2022/Workshop/SUKI">here</a> by April 8, 2022!
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 blog-main">
            {{content}}
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
